#SQL Basics, build tables and queries.

Sources for this notebook:


[Learning PostgreSQL](http://shop.oreilly.com/product/9781783989188.do)

[David Berry, Pluralsight](http://buildingbettersoftware.blogspot.com/)

[SQL Pocket Guide 3rd Edition, Jonathan Gennick, 2011](http://shop.oreilly.com/product/0636920013471.do)

In [ ]:
##Table Basics: Oracle
'''
Syntax to create table.
NULL values.
Default values.
Naming Rules: Max 30 chars, tables and view names have to be unique within the same schema
Columns must be unique within the same table. Do not use SQL reserved words.
Diagram relationships between tables, list PKs and FKs at a minumum.

---Names, Unquoted:
Characters allowed: alphanumeric, unders_score, $ and #. 
Unquoted names are case insensitive. 
Quoted identifiers allow a wider range of name options
Column definition rules:
Max of 1000 columns, >255 will start row chaining.
Max of 30 characters for column name, can be reused in other tables.
Minumum info = name & data type, NULL and DEFAULT are optional
---NULLs
CHAR, VARCHAR, NCHAR, NVARCHAR treat empty strings as NULL value
NULLs vs DEFAULTS, dates could be misleading e.g. 1900-01-01 for a future order
or missing phone 000-000-0000 instead of <NULL>
---Virtual column values are computed from other table columns
Normal columns store data on disk
Virtual columns : value is computed in result query set, 
    cannot INSERT or UPDATE virtual columns, 
    can only use columns in same table,
    indexes can be created over virtual column values,
    Useful when a derived value is needed.

'''

In [32]:
%%writefile $pirate_school_schema_oracle.sql
CREATE TABLE pirate_class
(
    ship_deck    VARCHAR2(2)     NOT NULL,
    number_o_course   NUMBER(3,0)     NOT NULL,
    title_o_course    VARCHAR2(66)    NOT NULL,
    desc_yer_course   VARCHAR2(666)   NOT NULL,
    doubloons         NUMBER(3,1)     NOT NULL,
    CONSTRAINT pk_ship_deck PRIMARY KEY
        (ship_deck, number_o_course),
    CONSTRAINT fk_pirate_class_ship_deck FOREIGN KEY
        (ship_deck) REFERENCES decks (ship_deck)
)
TABLESPACE users
PCTFREE 75;

Overwriting $pirate_school_schema_oracle.sql

In [29]:
%%writefile port_code_schema.sql
CREATE TABLE port_codes
(
    port_code     VARCHAR2(4)      NOT NULL,
    city          VARCHAR2(30)     NOT NULL,
    state         VARCHAR2(30)     NOT NULL,
    country_code3 VARCHAR2(3)      NOT NULL
);

Writing port_code_schema.sql

In [30]:
!cat port_code_schema.sql

CREATE TABLE port_codes
(
    port_code      VARCHAR2(4)      NOT NULL,
    city          VARCHAR2(30)     NOT NULL,
    state         VARCHAR2(30)     NOT NULL,
    country_code3 VARCHAR2(3)      NOT NULL
);

Select statments for the above
select PORT_CODE, CITY, STATE
    from PORT_CODES;
--OR--    
 SELECT Port_Code, City, State
    FROM Zip_codes;

In [26]:
%%writefile port_code_quoted.sql
CREATE TABLE "PortCodes_Q"
(
    "port code"     VARCHAR2(4)      NOT NULL,
    "city.name"     VARCHAR2(30)     NOT NULL,
    "state-abbr"    VARCHAR2(2)      NOT NULL,
    "country code3" VARCHAR2(3)      NOT NULL
);

Writing zip_code_quoted.sql

Select statement for the above quoted table
SELECT
    "por code", "city.name", "state-abbr"
FROM "PortCodes_Q"
WHERE "port code" = '1234'

In [31]:
%%writefile pirates_table.sql
CREATE TABLE pirates
(
    pirate_id       NUMBER(7)     NOT NULL,
    nick_name       VARCHAR2(31)  NOT NULL,
    last_name       VARCHAR2(31)  NOT NULL,
    eye_patch       VARCHAR2(1)   DEFAULT 'T' NOT NULL, 
    email           VARCHAR2(128) NOT NULL,
    email_domain    VARCHAR2(60)  AS (
        SUBSTR(email, INSTR(email, '@', 1,1)+1)
        ) VIRTUAL
    phone           VARCHAR2(21)  NOT NULL,
    berth_date      DATE          NULL,
    home_port       VARCHAR2(31)  NULL,
    port_country    VARCHAR2(3)   NULL,
    active_code     VARCHAR2(1)   DEFAULT 'A' NOT NULL,
    CONSTRAINT pk_pirates PRIMARY KEY (pirate_id)
    CONSTRAINT ck_pirates_table_eye_patch
        CHECK (eye_patch is 'T' or 'F')

);

Writing pirates_table.sql

In [1]:
%%writefile treasure_map_yorders.sql
CREATE TABLE treasure_map_yorders
(
    yorder_id          NUMBER(13)      NOT NULL,
    yorder_date        DATE            NOT NULL,
    pirate_id          NUMBER(7)       NOT NULL,
    subtotal           NUMBER(10,2), 
    tax                NUMBER(10,2),
    shipping           NUMBER(10,2),
    invoice_total      NUMBER(10,2)
                AS (subtotal + tax + shipping)   VIRTUAL         
);

Writing treasure_map_yorders.sql

In [ ]:
 %writefile view_grades_students_oracle.sql
--------------------------------------------------------
--  DDL for View V_STUDENT_GRADES
--------------------------------------------------------

CREATE OR REPLACE VIEW V_STUDENT_GRADES AS 
  SELECT
        ce.student_id, co.term_code,
        c.department_code, c.course_number,
        c.course_title, c.credits, 
        ce.grade_code, g.points
    FROM course_enrollments ce
    INNER JOIN course_offerings co
        ON  ce.course_offering_id = co.course_offering_id
    INNER JOIN courses c
        ON c.department_code = co.department_code
        AND c.course_number = co.course_number
    INNER JOIN grades g
        ON ce.grade_code = g.grade_code;