#Extract data from a SQLite3 database. 
This procedure assumes you are using Anaconda with SQLite installed in the base package. 
source1 = 'https://docs.python.org/2/library/sqlite3.html'
SQLite is a C library that provides a lightweight disk-based database that doesn’t require a separate server process and allows accessing the database using a nonstandard variant of the SQL query language. Some applications can use SQLite for internal data storage. It’s also possible to prototype an application using SQLite and then port the code to a larger database such as PostgreSQL or Oracle.

First you create a connection object, the db.
Next you create a cursor object and call its execute() method.
Data will persist unless user the memory option to stay in RAM.

'''

In [1]:
import sqlite3

In [2]:
#create a new db and close
connection = sqlite3.connect("pirate_schoolDB.db")
connection.close()

In [ ]:
connection = sqlite3.connect("pirate_schoolDB.db")
cursor = connection.cursor()
create_pirate_school = """
                       CREATE TABLE pirate_class 
                       ( 
                       number_o_course   INTEGER PRIMARY KEY,
                       ship_deck         VARCHAR(2), 
                       title_o_course    VARCHAR(66),
                       desc_yer_course   VARCHAR(666),
                       doubloons         INTEGER  
                       );"""
cursor.execute(create_pirate_school)
connection.commit()
connection.close()

In [ ]:
pirate_class_data = [(555, "3", "Grog Mixing", "Make the grog the way the captain likes it", 23000),
                     (333, "5i", "Cutlass Maintenance", "Sharp enough to dissect gnats", 44000)
                    ] 
connection = sqlite3.connect("pirate-schoolDB.db")
cursor = connection.cursor()
cursor.executemany('INSERT INTO pirate_class VALUES (?,?,?,?,?', pirate_class_data)
                       
    
connection.commit()

connection.close()

In [44]:
%pdb

Automatic pdb calling has been turned ON

In [ ]:
connection = sqlite3.connect("pirate_shoolDB.db")
cursor = connection.cursor()
# build the query in the next line
query1 = "SELECT * FROM pirate_class"
cursor.execute(query1) 
# fetch results
result = cursor.fetchone() 
print(result)
# print results
#for row in result:
#    print(row)
# close connection
connection.close()

In [ ]:
conn = sqlite3.connect('treasure_shares.db')

In [4]:
conn = sqlite3.connect('treasure_shares.db')
c = conn.cursor()
# Create table
#c.execute('''CREATE TABLE stocks
#             (date text, trans text, symbol text, qty real, price real)''')
# Insert a row of data
#c.execute("INSERT INTO stocks VALUES ('2007-02-03','Sell','RHATZ',100,35.14)")
c.execute("INSERT INTO stocks VALUES ('01-APR-2019', 'Shell', 'Coconuts', 432, 44.43)")
# Save (commit) the changes
conn.commit()
# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
conn.close()

In [40]:
conn = sqlite3.connect('treasure_shares.db')
c = conn.cursor()
c.execute('SELECT * FROM stocks')
print(c.fetchall())
conn.commit()
conn.close()

[('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2007-01-05', 'BuUY', 'RHAT', 100.0, 35.14), ('2007-01-05', 'BuUY', 'RHAT', 100.0, 35.14), ('2007-01-05', 't', 'RHaaATz', 100.0, 35.14), ('2007-01-05', 't', 'RHATz', 100.0, 35.14), ('2007-02-03', 'Sell', 'RHATz', 100.0, 35.14), ('2007-02-03', 'Sell', 'RHATZ', 100.0, 35.14)]

In [ ]:
t = ('RHATZ',)
conn = sqlite3.connect('treasure_shares.db')
c = conn.cursor()
c.execute('SELECT * FROM stocks WHERE symbol=?', t)
print(c.fetchall())
conn.commit()
conn.close()

In [6]:
conn = sqlite3.connect('treasure_shares.db')
c = conn.cursor()
for row in c.execute('SELECT * FROM stocks ORDER BY date'):
    print(row)

('01-APR-2019', 'Shell', 'Coconuts', 432.0, 44.43)
('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2007-01-05', 'BuUY', 'RHAT', 100.0, 35.14)
('2007-01-05', 'BuUY', 'RHAT', 100.0, 35.14)
('2007-01-05', 't', 'RHaaATz', 100.0, 35.14)
('2007-01-05', 't', 'RHATz', 100.0, 35.14)
('2007-02-03', 'Sell', 'RHATz', 100.0, 35.14)
('2007-02-03', 'Sell', 'RHATZ', 100.0, 35.14)